%hr
.conversation

  %ul.conversation
    - conversation.posts.each do |post|
      %li
        = render partial: "post", locals: { post: post,
          conversation: conversation,
          site_presenter: @presenter }

  .follow-up
    = render partial: "sites/follow_up_form", locals: { site: @presenter.site,
              conversation: conversation,
              new_post: @presenter.new_follow_up(conversation) }
