<!DOCTYPE html>
<html>
<head>
  <title>The86 Sample</title>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user? %>
  <p>Welcome, <%= current_user.name %>.</p>
<% end %>

<%= yield %>

</body>
</html>
